### Fake news detection ###

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import re
import string

In [2]:
df_fake=pd.read_csv(r'C:\Users\HP\Downloads\Fake_news\Fake_news\Fake.csv')
df_true=pd.read_csv(r'C:\Users\HP\Downloads\Fake_news\Fake_news\True.csv')

In [16]:
df_fake.head(5)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [17]:
df_true.head(5)

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [18]:
df_fake['class'] = 0
df_true['class'] = 1

In [19]:
df_fake.shape, df_true.shape

((23476, 5), (21397, 5))

In [21]:
df_fake_manual_testing = df_fake.tail(10)
for i in range(23465,23455,-1):
    df_fake.drop([i], axis = 0, inplace = True)
df_true_manual_testing = df_true.tail(10)
for i in range(21396,21386,-1):
    df_true.drop([i], axis = 0, inplace = True)

In [22]:
df_fake.shape, df_true.shape

((23461, 5), (21387, 5))

In [23]:
df_fake_manual_testing["class"] = 0
df_true_manual_testing["class"] = 1

<ipython-input-23-3aaf8ec2aad1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fake_manual_testing["class"] = 0
<ipython-input-23-3aaf8ec2aad1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true_manual_testing["class"] = 1

In [24]:
df_fake_manual_testing.head(10)

,title,text,subject,date,class
23461,REPORT: ‘Federal Government Escalated the Viol...,KILLED: Rancher and protest spokesman Robert ...,Middle-east,"January 28, 2016",0
23462,"BOILER ROOM – Oregon Standoff, Cuddle Parties,...",Tune in to the Alternate Current Radio Network...,Middle-east,"January 28, 2016",0
23463,"Eyewitness Says Feds Ambushed Bundys, 100 Shot...",Patrick Henningsen 21st Century Wire UPDATE: 1...,Middle-east,"January 27, 2016",0
23464,Episode #119 – SUNDAY WIRE: ‘You Know the Dril...,Episode #119 of SUNDAY WIRE SHOW finally resum...,Middle-east,"January 24, 2016",0
23465,‘There’ll be boots on the ground’: US making n...,21st Century Wire says Various parties in Wash...,Middle-east,"January 23, 2016",0
23466,Boston Brakes? How to Hack a New Car With Your...,21st Century Wire says For those who still ref...,Middle-east,"January 22, 2016",0
23467,Oregon Governor Says Feds ‘Must Act’ Against P...,"21st Century Wire says So far, after nearly 20...",Middle-east,"January 21, 2016",0
23468,Ron Paul on Burns Oregon Standoff and Jury Nul...,21st Century Wire says If you ve been followin...,Middle-east,"January 21, 2016",0
23469,BOILER ROOM: As the Frogs Slowly Boil – EP #40,Tune in to the Alternate Current Radio Network...,Middle-east,"January 20, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0

In [25]:
df_true_manual_testing.head(10)

,title,text,subject,date,class
21387,Former Libyan prime minister freed after abduc...,TRIPOLI (Reuters) - Former Libyan Prime Minist...,worldnews,"August 23, 2017",1
21388,Britain outlines plans to break free of Europe...,LONDON (Reuters) - Britain on Wednesday outlin...,worldnews,"August 22, 2017",1
21389,"Trump must be respected as U.S. president, say...",BERLIN (Reuters) - Chancellor Angela Merkel sa...,worldnews,"August 23, 2017",1
21390,Pakistan rejects role of 'scapegoat for U.S. f...,"KARACHI, Pakistan (Reuters) - Pakistan has rej...",worldnews,"August 23, 2017",1
21391,Romanian president opposes plans for judicial ...,BUCHAREST (Reuters) - Romania s justice minist...,worldnews,"August 23, 2017",1
21392,"Iran, Saudi Arabia to exchange diplomatic visi...",BEIRUT (Reuters) - Iran and Saudi Arabia will ...,worldnews,"August 23, 2017",1
21393,Danish police identify torso as missing submar...,COPENHAGEN (Reuters) - Police on Wednesday ide...,worldnews,"August 23, 2017",1
21394,"Typhoon batters Hong Kong and south China, thr...","HONG KONG (Reuters) - Typhoon Hato, a maximum ...",worldnews,"August 22, 2017",1
21395,Poland to allocate additional $55 bllion on de...,WARSAW (Reuters) - Poland will allocate an add...,worldnews,"August 23, 2017",1
21396,Pro-Houthi fighters call powerful Yemen ally '...,DUBAI (Reuters) - Fighters loyal to the armed ...,worldnews,"August 23, 2017",1

In [26]:
df_manual_testing = pd.concat([df_fake_manual_testing,df_true_manual_testing], axis = 0)
df_manual_testing.to_csv(r"C:\Users\HP\Downloads\Fake_news\Fake_news\manual_testing.csv")

In [27]:
df_marge = pd.concat([df_fake, df_true],axis = 0)
df_marge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [28]:
df_marge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [29]:
df = df_marge.drop(["title","subject","date"],axis = 1)

In [30]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [31]:
df = df.sample(frac = 1)

In [32]:
df.head()

                                                    text  class
16168  SEOUL (Reuters) - South Korea s foreign minist...      1
2141   WASHINGTON (Reuters) - The United States drew ...      1
2993   WASHINGTON (Reuters) - Senate Republican leade...      1
10753  (Reuters) - U.S. Representative James Clyburn ...      1
10082  Kara Young, the biracial model who dated Donal...      0

In [33]:
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [34]:
df.columns

Index(['text', 'class'], dtype='object')

In [35]:
df.head()

                                                text  class
0  SEOUL (Reuters) - South Korea s foreign minist...      1
1  WASHINGTON (Reuters) - The United States drew ...      1
2  WASHINGTON (Reuters) - Senate Republican leade...      1
3  (Reuters) - U.S. Representative James Clyburn ...      1
4  Kara Young, the biracial model who dated Donal...      0

In [36]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [37]:
df["text"] = df["text"].apply(wordopt)

In [38]:
x = df["text"]
y = df["class"]

In [47]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [49]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

1.Logistic Regression

In [50]:
from sklearn.linear_model import LogisticRegression

In [52]:
LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()

In [53]:
pred_lr=LR.predict(xv_test)

In [54]:
LR.score(xv_test,y_test)

0.9870674277559758

In [55]:
print(classification_report(y_test,pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5874
           1       0.99      0.99      0.99      5338

    accuracy                           0.99     11212
   macro avg       0.99      0.99      0.99     11212
weighted avg       0.99      0.99      0.99     11212

2.Decision Tree Classification

In [56]:
from sklearn.tree import DecisionTreeClassifier

In [57]:
DT = DecisionTreeClassifier()
DT.fit(xv_train,y_train)

DecisionTreeClassifier()

In [58]:
pred_dt = DT.predict(xv_test)

In [59]:
DT.score(xv_test,y_test)

0.9959864430966822

In [60]:
print(classification_report(y_test,pred_dt))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      5874
           1       1.00      0.99      1.00      5338

    accuracy                           1.00     11212
   macro avg       1.00      1.00      1.00     11212
weighted avg       1.00      1.00      1.00     11212

3.Gradient Boosting Classifier

In [61]:
from sklearn.ensemble import GradientBoostingClassifier

In [62]:
GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [63]:
pred_gbc = GBC.predict(xv_test)

In [64]:
GBC.score(xv_test, y_test)

0.9950053514092044

In [65]:
print(classification_report(y_test, pred_gbc))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5874
           1       0.99      1.00      0.99      5338

    accuracy                           1.00     11212
   macro avg       0.99      1.00      0.99     11212
weighted avg       1.00      1.00      1.00     11212

4.Random Forest Classifier

In [66]:
from sklearn.ensemble import RandomForestClassifier

In [67]:
RFC = RandomForestClassifier(random_state=0)
RFC.fit(xv_train,y_train)

RandomForestClassifier(random_state=0)

In [68]:
pred_rfc = RFC.predict(xv_test)

In [69]:
RFC.score(xv_test,y_test)

0.991526935426329

In [70]:
print(classification_report(y_test,pred_rfc))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5874
           1       0.99      0.99      0.99      5338

    accuracy                           0.99     11212
   macro avg       0.99      0.99      0.99     11212
weighted avg       0.99      0.99      0.99     11212

Model Testing With Manual Entry

In [71]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(output_lable(pred_LR[0]), 
                                                                                                              output_lable(pred_DT[0]), 
                                                                                                              output_lable(pred_GBC[0]), 
                                                                                                              output_lable(pred_RFC[0])))

In [72]:
news  = str(input())
manual_testing(news)

made for barfly philosophers, misguided moralists, masochists, street corner evangelists, media-maniacs, savants, political animals and otherwise lovable rascals.Join ACR hosts Hesher, & Spore along with Andy Nowicki from Alt Right Blogspot, 21Wire mastermind Patrick Henningsen and Stewart Howe. In this broadcast we re going big time with an extra long overdrive episode, listeners will be hearing us go around the BOILER ROOM on a plethora of topics tonight including  cuddle parties,  a Saudi millionaire running free on rape allegations after claiming to have tripped and fell on victim, Hesher bashes Guns  N Roses, the life span of the iPod about to be ended by a resurgence in tape cassette technology, permaculture farming, federal land grabs, and the demonization of the militia. We give a detailed breakdown of the situation unfolding in Oregon with regards to the Ammon Bundy s (and others) arrest and the execution style ambush and murder of Robert Lavoy Finicum. If you want to participate, bring something interesting to throw into the boiler Join us in the ALTERNATE CURRENT RADIO chat room.BOILER ROOM IS NOT A POLICTALLY CORRECT ZONE!   Live ACR player below   Show goes live at 6 PM PST This week s topics:


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News

In [73]:
news  = str(input())
manual_testing(news)

Donald Trump unveiled his policy for Afghanistan on Monday, stepping up the military campaign against Taliban insurgents and singling out Pakistan for harboring them. U.S. officials later warned that aid to Pakistan might be cut and Washington might downgrade nuclear-armed Pakistan s status as a major non-NATO ally, in order to pressure it to do more to help bring about an end to America s longest-running war. Pakistan s powerful military chief, General Qamar Javed Bajwa, met U.S. Ambassador David Hale on Wednesday and told him Pakistan was actively working for peace in Afghanistan.  We have done a lot ... and shall keep on doing our best, not to appease anyone but in line with our national interest and national policy,  Bajwa was quoted in an army press statement as telling Hale. Pakistani Foreign Minister Khawaja Asif added his voice to a chorus of indignation over the U.S. criticism, reiterating Pakistan s denial that it harbors militants.  They should not make Pakistan a scapegoat for their failures in Afghanistan,  Asif said in an interview with Geo TV late on Tuesday.  A group of influential Pakistani clerics including Sami-ul Haq, who runs a Islamic seminary where many senior Afghan Taliban studied, angrily condemned the United States.  America is the enemy of the Muslim ummah (community),  Haq told a press briefing along with other clerics who preach a jihadist doctrine.  The government of Pakistan should quit the alliance for war against so-called terrorism,  Haq added.  The heavens will not fall if America gets angry with us.  Pakistan has for years been battling homegrown Islamist militants who are seeking to overthrow the state with bomb attacks and assassinations. But critics say the Pakistani military nurtures other Islamist factions, including the Afghan Taliban, which are seen as useful to Pakistan s core confrontation with old rival India. Asif said Pakistan had suffered great losses from Islamist militancy - the government estimates there have been 70,000 casualties in militant attacks, including 17,000 Pakistanis killed - since Pakistan joined the U.S.  war on terrorism  after the Sept. 11, 2001, attacks on the United States. The relationship between the two countries has endured periods of extreme strain during the past decade, especially after al Qaeda leader Osama bin Laden was found and killed by U.S. special forces in Pakistan in a 2011 raid.   Last year, a U.S. drone strike killed then-Afghan Taliban leader Mullah Akhtar Mansour in southwestern Pakistan, an attack Islamabad protested as a violation of its sovereignty. Pakistan has denied knowledge that either bin Laden or Mansour were in the country.


LR Prediction: Not A Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Not A Fake News

In [ ]:
news  = str(input())
manual_testing(news)

In [ ]:
news  = str(input())
manual_testing(news)